<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2 ng-if="!update">Thêm mới tài nguyên</h2>
            <h2 ng-if="update">Cập nhật tài nguyên</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form id="saveForm" class="form-horizontal form-label-left">
                @Html.AntiForgeryToken()
                <input ng-model="dataSave.ResourceID" id="ResourceID" name="ResourceID" type="hidden">
                <div class="form-group no-padding">
                    <label class="control-label col-sm-2">
                        Mã vai trò <span class="red">*</span>
                    </label>
                    <div class="col-sm-4">
                        <input ng-model="dataSave.Code" id="Code" name="Code" type="text" class="form-control validate[required,maxSize[255]]">
                    </div>
                    <label class="control-label col-sm-2">
                        Tên vai trò <span class="red">*</span>
                    </label>
                    <div class="col-sm-4">
                        <input ng-model="dataSave.Name" id="Name" name="Name" type="text" class="form-control validate[required,maxSize[255]]">
                    </div>
                </div>
                <div class="form-group no-padding">
                    <label class="control-label col-sm-2">
                        Mô tả
                    </label>
                    <div class="col-sm-4">
                        <textarea ng-model="dataSave.Description" id="Description" name="Description" class="form-control validate[maxSize[500]]" maxlength="500" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-success" style="float:right" onclick="actionSave()">
                        Lưu
                    </button>
                    <button type="button" class="btn btn-default" style="float:left" onclick="goSearch()">
                        Quay lại danh sách
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="x_panel" ng-show="update">
        <div class="x_title">
            <h2>Quyền của vai trò</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:;">Settings 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>*@
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <form id="searchPermission" class="form-horizontal form-label-left">
                    @Html.AntiForgeryToken()
                    <div class="form-group no-padding">
                        <label class="control-label col-sm-2">
                            Mã quyền
                        </label>
                        <div class="col-sm-4">
                            <input ng-model="searchPermission.Code" id="CodeSearchPermission" name="Code" type="text" class="form-control validate[maxSize[255]]">
                        </div>
                        <label class="control-label col-sm-2">
                            Tên quyền
                        </label>
                        <div class="col-sm-4">
                            <input ng-model="searchPermission.Name" id="NameSearchPermission" name="Name" type="text" class="form-control validate[maxSize[255]]">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center" style="padding-right: 5px;">
                            <button type="button" class="btn btn-default" ng-click="searchPermission()">
                                <span class="glyphicons glyphicons-search green"></span>
                                Tìm kiếm
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="goAddPermission()">
                                <span class="glyphicons glyphicons-plus-sign"></span>
                                Thêm quyền
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ln_solid"></div>
            <div class="row table-responsive">
                <table id="rolePermissionTbl" class="table table-bordered table-striped table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã quyền</th>
                            <th>Tên quyền</th>
                            <th>Tên ứng dụng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="selectPermisson" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Thêm quyền cho vai trò</h4>
                        </div>
                        <div class="modal-body">
                            <form id="searchPermission" class="form-horizontal form-label-left">
                                @Html.AntiForgeryToken()
                                <div class="form-group no-padding">
                                    <label class="control-label col-sm-2">
                                        Mã quyền
                                    </label>
                                    <div class="col-sm-4">
                                        <input ng-model="searchPermission.Code" id="CodeSearchPermission" name="Code" type="text" class="form-control validate[maxSize[255]]">
                                    </div>
                                    <label class="control-label col-sm-2">
                                        Tên quyền
                                    </label>
                                    <div class="col-sm-4">
                                        <input ng-model="searchPermission.Name" id="NameSearchPermission" name="Name" type="text" class="form-control validate[maxSize[255]]">
                                    </div>
                                </div>
                                <div class="form-group no-padding">
                                    <label class="control-label col-sm-2">
                                        Ứng dụng
                                    </label>
                                    <div class="col-sm-4">
                                        <select ng-model="dataSearch.ApplicationID" id="ApplicationIDFilter" name="ApplicationID" class="form-control" ui-select2>
                                            <option value="">-- Chọn tất cả --</option>
                                            <option ng-repeat="item in listApplication" value="{{item.ApplicationID}}">{{item.Code}} - {{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center" style="padding-right: 5px;">
                                        <button type="button" class="btn btn-default" ng-click="searchPermissionForRole()">
                                            <span class="glyphicons glyphicons-search green"></span>
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="ln_solid"></div>
                            <table id="selectPermissionTbl" class="table table-bordered table-striped table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã quyền</th>
                                        <th>Tên quyền</th>
                                        <th>Tên ứng dụng</th>
                                        <th>Chọn</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="addPermission()">Thêm quyền</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>

    <div class="x_panel" ng-show="update">
        <div class="x_title">
            <h2>Menu của vai trò</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:;">Settings 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>*@
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <form id="searchMenu" class="form-horizontal form-label-left">
                    @Html.AntiForgeryToken()
                    <div class="form-group no-padding">
                        <label class="control-label col-sm-2">
                            Mã menu
                        </label>
                        <div class="col-sm-4">
                            <input ng-model="searchMenu.Code" id="CodeSearchMenu" name="Code" type="text" class="form-control validate[maxSize[255]]">
                        </div>
                        <label class="control-label col-sm-2">
                            Tên menu
                        </label>
                        <div class="col-sm-4">
                            <input ng-model="searchMenu.Name" id="NameSearchMenu" name="Name" type="text" class="form-control validate[maxSize[255]]">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center" style="padding-right: 5px;">
                            <button type="button" class="btn btn-default" ng-click="searchMenu()">
                                <span class="glyphicons glyphicons-search green"></span>
                                Tìm kiếm
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="goAddMenu()">
                                <span class="glyphicons glyphicons-plus-sign"></span>
                                Thêm menu
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ln_solid"></div>
            <div class="row table-responsive">
                <table id="roleMenuTbl" class="table table-bordered table-striped table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã menu</th>
                            <th>Tên menu</th>
                            <th>Tên ứng dụng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="selectMenu" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Thêm menu cho vai trò</h4>
                        </div>
                        <div class="modal-body">
                            <form id="searchMenu" class="form-horizontal form-label-left">
                                @Html.AntiForgeryToken()
                                <div class="form-group no-padding">
                                    <label class="control-label col-sm-2">
                                        Mã menu
                                    </label>
                                    <div class="col-sm-4">
                                        <input ng-model="selectMenu.Code" id="CodeSearchMenu" name="Code" type="text" class="form-control validate[maxSize[255]]">
                                    </div>
                                    <label class="control-label col-sm-2">
                                        Tên menu
                                    </label>
                                    <div class="col-sm-4">
                                        <input ng-model="selectMenu.Name" id="NameSearchMenu" name="Name" type="text" class="form-control validate[maxSize[255]]">
                                    </div>
                                </div>
                                <div class="form-group no-padding">
                                    <label class="control-label col-sm-2">
                                        Ứng dụng
                                    </label>
                                    <div class="col-sm-4">
                                        <select ng-model="selectMenu.ApplicationID" id="ApplicationIDFilterSearchMenu" name="ApplicationID" class="form-control" ui-select2>
                                            <option value="">-- Chọn tất cả --</option>
                                            <option ng-repeat="item in listApplication" value="{{item.ApplicationID}}">{{item.Code}} - {{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center" style="padding-right: 5px;">
                                        <button type="button" class="btn btn-default" ng-click="searchMenuForRole()">
                                            <span class="glyphicons glyphicons-search green"></span>
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="ln_solid"></div>
                            <table id="selectMenuTbl" class="table table-bordered table-striped table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã menu</th>
                                        <th>Tên menu</th>
                                        <th>Tên ứng dụng</th>
                                        <th>Chọn</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="addMenu()">Thêm menu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
